@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}

.main {
    background: url("./images/bg.jpeg") repeat;
    background-size: contain;
}

.header {
    box-shadow: 2px 0 3px 1px;
}

.col-md-3 {
    border: none;
}

.card {
    min-height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3rem;
    padding: 1rem;
    .card-img-top {
        display: flex;
        text-align: center;
        max-height: 180px;
        max-width: 180px;
        margin-bottom: 10px;
    }
    h5 {
        &:hover {
            &:first-child {
                color: rgb(36, 36, 207);
                cursor: pointer;
            }
        }
    }
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        .text {
            width: 100%;
            padding: 3rem;
            h1 {
                margin: 0;
            }
            .price {
                margin-top: 10px;
                background-color: rgb(102, 197, 235);
                color: white;
                font-size: 150%;
                width: fit-content;
                padding: 0 10px;
            }
            .category {
                margin-top: 15px;
                margin-bottom: 15px;
                background-color: gainsboro;
                border: 1px solid rgb(177, 156, 156);
                border-radius: 4px;
                padding: 7px;
                color: rgb(153, 51, 51);
                p {
                    margin: 0;
                }
            }
            p {
                margin-bottom: 15px;
            }
        }
    }
}

.img {
    object-fit: contain;
    height: 100px;
}

.bg {
    background: linear-gradient(135deg, #051937 0%, #004d7a 100%);
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: 6fr 6fr;
    }

    .detail {
        .container {
            flex-direction: column;
            padding: 10px;
            .text {
                width: 100%;
            }
        }
    }
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 12fr;
    }
}
